<!--Created by IntelliJ IDEA.-->
<!--User: chen-->
<!--Date: 2019/3/31-->
<!--Time: 11:06-->
<!--To change this template use File | Settings | File Templates.-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/static/js/mylayui/css/layui.css">
    <link rel="stylesheet" href="/static/css/list.css">
</head>
<body>
</body>
<script src="/static/js/mylayui/layui.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/list.js"></script>
</html>
